/*html {
    background:url("../img/bg.png") repeat;
}*/

body {
    /*min-width:1000px;*/
    max-width:1280px;
    margin: auto;
}

.datagrid table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #111111;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
    width: 60px;
}

.datagrid table tbody td input {
    width: 100%;
    background: #FEFEFE;
    border-radius:3px;
    border:1px solid #C9C9C9;
    padding-left:3px;
}

.breadcrumb {
    background-color: #ffffff;
}

.datagrid-vertical {
    max-width: 500px;
}