/*html {
    background:url("../img/bg.png") repeat;
}*/

body {
    min-width:1024px;
    max-width:1280px;
    margin: auto;
}

td input {
    width: 100%;
}

input[type="text"] {
    padding: 4px 0px;
}

.breadcrumb {
    background-color: #ffffff;
}

.datagrid-vertical {
    max-width: 500px;
}

.table-bordered th, .table-bordered td {
    border-left: 1px solid #000000;
}

.table th, .table td {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;

}

.table-bordered {
    border-color: #000000 #000000 #000000  -moz-use-text-color;
}